* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
  line-height: 1.5;
/* CSS3属性-webkit-font-smoothing字体抗锯齿渲染 */
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100vw;
  height: 100vh;
}
.menu1 {
  position: absolute;
  display: flex;
  background-color: #fff;
  width: 88vw;
  height: 20vh;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  overflow-x: scroll;
}
.menu1 .menu-inner1 {
  display: flex;
  flex: 1;
}
.menu1 .menu-inner1 .menu-box1 {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.menu1 .menu-inner1 .menu-box1 .menu-image1 {
  width: 0.8rem;
  height: 0.8rem;
}
.menu1 .menu-inner1 .menu-box1 .menu-image1 img {
  width: 100%;
}
.menu1 .menu-inner1 .menu-box1 .menu-text1 {
  font-size: 0.25rem;
}
.menu1 .menu-inner1 .item1 {
  top: 0;
  left: 0;
}
.menu1 .menu-inner1 .item2 {
  top: 0;
  left: 18.75vw;
}
.menu1 .menu-inner1 .item3 {
  top: 0;
  left: 37.5vw;
}
.menu1 .menu-inner1 .item4 {
  top: 0;
  left: 56.25vw;
}
.menu1 .menu-inner1 .item5 {
  top: 0;
  left: 75vw;
}
.menu1 .menu-inner1 .item6 {
  top: 10vh;
  left: 0;
}
.menu1 .menu-inner1 .item7 {
  top: 10vh;
  left: 18.75vw;
}
.menu1 .menu-inner1 .item8 {
  top: 10vh;
  left: 37.5vw;
}
.menu1 .menu-inner1 .item9 {
  top: 10vh;
  left: 56.25vw;
}
.menu1 .menu-inner1 .item10 {
  top: 10vh;
  left: 75vw;
}
.menu1 .menu-inner2 {
  display: flex;
  flex: 1;
  width: 100%;
}
.menu1 .menu-inner2 .menu-box1 {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.menu1 .menu-inner2 .menu-box1 .menu-image1 {
  width: 0.8rem;
  height: 0.8rem;
}
.menu1 .menu-inner2 .menu-box1 .menu-image1 img {
  width: 100%;
}
.menu1 .menu-inner2 .menu-box1 .menu-text1 {
  font-size: 0.25rem;
}
.menu1 .menu-inner2 .item1 {
  top: 0;
  left: 95vw;
}
.menu1 .menu-inner2 .item2 {
  top: 0;
  left: 113.75vw;
}
.menu1 .menu-inner2 .item3 {
  top: 0;
  left: 132.5vw;
}
.menu1 .menu-inner2 .item4 {
  top: 0;
  left: 151.25vw;
}
.menu1 .menu-inner2 .item5 {
  top: 0;
  left: 170vw;
}
.menu1 .menu-inner2 .item6 {
  top: 10vh;
  left: 95vw;
}
.menu1 .menu-inner2 .item7 {
  top: 10vh;
  left: 113.75vw;
}
.menu1 .menu-inner2 .item8 {
  top: 10vh;
  left: 132.5vw;
}
.menu1 .menu-inner2 .item9 {
  top: 10vh;
  left: 151.25vw;
}
.menu1 .menu-inner2 .item10 {
  top: 10vh;
  left: 170vw;
}
.menu2 {
  position: absolute;
  width: 95vw;
  height: 1.1vh;
  margin: 0.16rem;
  top: 26vh;
}
.menu2 .menu-box2 {
  position: absolute;
  top: 0;
  width: 30vw;
  height: 8vh;
  background-color: #fff;
  display: flex;
  border-radius: 0.25rem;
  margin-left: 0.1rem;
}
.menu2 .menu-box2 .menu-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu2 .menu-box2 .menu-text .menu-top {
  font-size: 0.27rem;
}
.menu2 .menu-box2 .menu-text .menu-bottom {
  bottom: 0;
  font-size: 0.21rem;
  color: #666;
}
.menu2 .menu-box2 .menu-image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.7rem;
  height: 1.2rem;
}
.menu2 .menu-box2 .menu-image2 img {
  width: 100%;
}
.menu2 .box1 {
  left: 0;
}
.menu2 .box2 {
  left: 32vw;
}
.menu2 .box3 {
  right: 0;
}
.bg-img {
  position: absolute;
  top: 34vh;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.3rem;
  background: url("./images/chun.jpg");
  width: 95vw;
  height: 2rem;
  border-radius: 0.25rem;
  background-size: cover;
}
.menu3 {
  position: absolute;
  width: 95vw;
  height: 25vh;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  top: 50vh;
  border-radius: 0.25rem;
  background-color: #fff;
}
.menu3 .menu3-text {
  display: flex;
}
.menu3 .menu3-text .textl {
  flex: 1;
  font-size: 0.3rem;
  color: #ffa500;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}
.menu3 .menu3-text .textr {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.25rem;
  text-align: right;
  color: #666;
}
.menu3 .menu-box3 {
  position: absolute;
  width: 2.2rem;
  height: 2.8rem;
  font-size: 0.25rem;
}
.menu3 .menu-box3 .menu-image3 {
  width: 2rem;
  height: 1.7rem;
}
.menu3 .menu-box3 .menu-image3 img {
  width: 100%;
}
.menu3 .img1 {
  left: 0.2rem;
}
.menu3 .img2 {
  left: 2.6rem;
}
.menu3 .img3 {
  left: 5rem;
}
