*
    margin 0
    padding 0
body
    background-color:#F0F0F0
    line-height: 1.5;
    /* CSS3属性-webkit-font-smoothing字体抗锯齿渲染 */
    -webkit-font-smoothing: antialiased
.container
    width 100vw
    height 100vh
.menu1
    position absolute
    display flex
    background-color #fff
    width 88vw
    height 25vh
    margin 0.25rem
    padding 0.25rem
    border-radius: 0.25rem
    overflow-x: scroll 
    .menu-inner1
        display: flex
        flex 1
        .menu-box1
                position absolute
                width 1.5rem
                height 1.5rem
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-between
                text-align center
                .menu-image1
                    width 0.8rem
                    height 0.8rem
                    img
                        width 100%
                .menu-text1
                    font-size: 0.25rem
        .item1
            left 0
        .item2
            left 18.75vw
        .item3
            left 37.5vw
        .item4
            left 56.25vw
        .item5
            left 75vw
        .item6
            top 14vh
            left 0
        .item7
            top 14vh
            left 18.75vw
        .item8
            top 14vh
            left 37.5vw
        .item9
            top 14vh
            left 56.25vw
        .item10
            top 14vh
            left 75vw
    .menu-inner2
        display: flex
        flex 1
        width 100%
        .menu-box1
                position absolute
                width 1.5rem
                height 1.5rem
                margin-left 0.34rem
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-between
                text-align center
                .menu-image1
                    width 0.8rem
                    height 0.8rem
                    img
                        width 100%
                .menu-text1
                    font-size: 0.25rem
        .item1
            left 95vw
        .item2
            left 113.75vw
        .item3
            left 132.5vw
        .item4
            left 151.25vw
        .item5
            left 170vw
        .item6
            top 14vh
            left 95vw
        .item7
            top 14vh
            left 113.75vw
        .item8
            top 14vh
            left 132.5vw
        .item9
            top 14vh
            left 151.25vw
        .item10
            top 14vh
            left 170vw
.menu2
    position absolute
    width 95vw
    height 1.1vh
    margin 0.16rem
    top 31vh
    .menu-box2
        position absolute
        top 0
        width 30vw
        height 8vh
        background-color #fff
        display flex
        border-radius: 0.25rem
        margin-left 0.1rem
        .menu-text
            flex: 1
            display flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            .menu-top
                font-size: 0.27rem
            .menu-bottom  
                bottom 0    
                font-size: 0.21rem
                color: #666666;
        .menu-image2
            display flex
            justify-content: center
            align-items: center
            width 0.7rem
            height 1.2rem
            img 
                width 100%
    .box1
        left 0
    .box2
        left 32vw
    .box3
        right 0
.bg-img
    position absolute
    top 40vh
    margin-left 0.2rem
    margin-right 0.2rem
    margin-top 0.3rem
    background url(./images/chun.jpg)
    width 95vw
    height 2rem     
    border-radius: 0.25rem 
    background-size cover
.menu3
    position absolute
    width 95vw
    height 25vh
    margin-left 0.2rem
    margin-right 0.2rem
    margin-top 0.5rem
    top 55vh
    border-radius: 0.25rem
    background-color #fff
    .menu3-text
        display: flex
        .textl
            flex 1
            font-size: 0.3rem
            color: orange 
            margin-left 0.2rem
            margin-top 0.2rem
        .textr
            margin-top 0.2rem
            margin-right 0.2rem
            font-size: 0.25rem
            text-align: right
            color: #666666;
    .menu-box3
        position absolute
        width 2.2rem
        height 2.8rem
        font-size: 0.25rem
        .menu-image3
            width 2.0rem
            height 1.7rem
            img 
                width 100%
    .img1
        left 0.2rem
    .img2
        left 2.6rem
    .img3
        left 5rem