* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
  line-height: 1.5;
/* CSS3属性-webkit-font-smoothing字体抗锯齿渲染 */
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100vw;
  height: 100vh;
}
.menu1 {
  position: absolute;
  display: flex;
  background-color: #fff;
  width: 95vw;
  height: 20vh;
  margin: 0.25rem;
  border-radius: 0.25rem;
  overflow-x: scroll;
}
.menu1 .menu-inner1 {
  display: flex;
  flex: 1;
}
.menu1 .menu-inner1 .menu-box1 {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.menu1 .menu-inner1 .menu-box1 .menu-image1 {
  width: 0.8rem;
  height: 0.8rem;
}
.menu1 .menu-inner1 .menu-box1 .menu-image1 img {
  width: 100%;
}
.menu1 .menu-inner1 .menu-box1 .menu-text1 {
  font-size: 0.25rem;
}
.menu1 .menu-inner1 .item1 {
  top: -1vh;
  left: 0;
}
.menu1 .menu-inner1 .item2 {
  top: -1vh;
  left: 18.75vw;
}
.menu1 .menu-inner1 .item3 {
  top: -1vh;
  left: 37.5vw;
}
.menu1 .menu-inner1 .item4 {
  top: -1vh;
  left: 56.25vw;
}
.menu1 .menu-inner1 .item5 {
  top: -1vh;
  left: 75vw;
}
.menu1 .menu-inner1 .item6 {
  top: 8vh;
  left: 0;
}
.menu1 .menu-inner1 .item7 {
  top: 7.5vh;
  left: 18.75vw;
}
.menu1 .menu-inner1 .item8 {
  top: 7.5vh;
  left: 37.5vw;
}
.menu1 .menu-inner1 .item9 {
  top: 7.5vh;
  left: 56.25vw;
}
.menu1 .menu-inner1 .item10 {
  top: 7.5vh;
  left: 75vw;
}
.menu1 .menu-inner2 {
  display: flex;
}
.menu1 .menu-inner2 .menu-box1 {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.menu1 .menu-inner2 .menu-box1 .menu-image1 {
  width: 0.8rem;
  height: 0.8rem;
}
.menu1 .menu-inner2 .menu-box1 .menu-image1 img {
  width: 100%;
}
.menu1 .menu-inner2 .menu-box1 .menu-text1 {
  font-size: 0.25rem;
}
.menu1 .menu-inner2 .item1 {
  top: -1vh;
  left: 93.75vw;
}
.menu1 .menu-inner2 .item2 {
  top: -1vh;
  left: 112.5vw;
}
.menu1 .menu-inner2 .item3 {
  top: -1vh;
  left: 131.25vw;
}
.menu1 .menu-inner2 .item4 {
  top: -1vh;
  left: 150vw;
}
.menu1 .menu-inner2 .item5 {
  top: -1vh;
  left: 168.75vw;
}
.menu1 .menu-inner2 .item6 {
  top: 7.5vh;
  left: 93.75vw;
}
.menu1 .menu-inner2 .item7 {
  top: 7.5vh;
  left: 112.5vw;
}
.menu1 .menu-inner2 .item8 {
  top: 7.5vh;
  left: 131.25vw;
}
.menu1 .menu-inner2 .item9 {
  top: 7.5vh;
  left: 150vw;
}
.menu1 .menu-inner2 .item10 {
  top: 7.5vh;
  left: 168.75vw;
}
.menu2 {
  position: absolute;
  width: 95vw;
  height: 0.7 0.5vh;
  margin: 0.16rem;
  top: 22vh;
}
.menu2 .menu-box2 {
  position: absolute;
  top: 0;
  width: 30vw;
  height: 7.5vh;
  background-color: #fff;
  display: flex;
  border-radius: 0.25rem;
  margin-left: 0.1rem;
}
.menu2 .menu-box2 .menu-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu2 .menu-box2 .menu-text .menu-top {
  font-size: 0.27rem;
}
.menu2 .menu-box2 .menu-text .menu-bottom {
  bottom: 0;
  font-size: 0.21rem;
  color: #666;
}
.menu2 .menu-box2 .menu-image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.7rem;
  height: 1.2rem;
}
.menu2 .menu-box2 .menu-image2 img {
  width: 100%;
}
.menu2 .box1 {
  left: 0;
}
.menu2 .box2 {
  left: 32vw;
}
.menu2 .box3 {
  right: 0;
}
.bg-img {
  position: absolute;
  top: 30vh;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.3rem;
  background: url("./images/chun.jpg");
  width: 95vw;
  height: 2rem;
  border-radius: 0.25rem;
  background-size: cover;
}
.menu3 {
  position: absolute;
  width: 95vw;
  height: 25vh;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  top: 43.5vh;
  border-radius: 0.25rem;
  background-color: #fff;
}
.menu3 .menu3-text {
  display: flex;
}
.menu3 .menu3-text .textl {
  display: flex;
  flex: 1;
  font-size: 0.3rem;
  color: #fe6708;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}
.menu3 .menu3-text .textl h4 {
  width: 1.3rem;
}
.menu3 .menu3-text .textl .time {
  background-color: #fe6708;
  width: 0.3rem;
  height: 0.3rem;
  color: #fff;
  font-size: 0.2rem;
  margin-top: 0.1rem;
  margin-left: 0.05rem;
  text-align: center;
  border-radius: 0.07rem;
}
.menu3 .menu3-text .textr {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.23rem;
  text-align: right;
  color: #666;
}
.menu3 .menu-box3 {
  position: absolute;
  width: 28vw;
  height: 2.8rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.2rem;
  overflow: hidden;
  font-size: 0.25rem;
}
.menu3 .menu-box3 .menu-image3 {
  width: 28vw;
  height: 1.7rem;
}
.menu3 .menu-box3 .menu-image3 img {
  width: 100%;
  height: 80%;
}
.menu3 .menu-box3 .menu-inner .menu3-top {
  margin-left: 0.2rem;
}
.menu3 .menu-box3 .menu-inner .menu3-center {
  margin-left: 0.2rem;
}
.menu3 .menu-box3 .menu-inner .menu3-center .red {
  color: #f00;
}
.menu3 .menu-box3 .menu-inner .menu3-center .money {
  font-size: 0.204rem;
}
.menu3 .menu-box3 .menu-inner .menu3-center .white {
  margin-left: 0.05rem;
  color: #666;
  font-size: 0.204rem;
  text-decoration: line-through;
}
.menu3 .menu-box3 .menu-inner .menu3-bottom {
  font-size: 0.24rem;
  margin-left: 0.2rem;
  color: #666;
}
.menu3 .img1 {
  left: 2vw;
}
.menu3 .img2 {
  left: 33.5vw;
}
.menu3 .img3 {
  right: 2vw;
}
.menu4 {
  position: absolute;
  width: 95vw;
  height: 25vh;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  top: 69.5vh;
  border-radius: 0.25rem;
  background-color: #fff;
}
.menu4 .menu4-text {
  display: flex;
}
.menu4 .menu4-text .textl {
  display: flex;
  flex: 1;
  font-size: 0.3rem;
  color: #ffa500;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}
.menu4 .menu4-text .textl h4 {
  width: 1.3rem;
}
.menu4 .menu4-text .textr {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.23rem;
  text-align: right;
  color: #666;
}
.menu4 .menubox4 {
  position: absolute;
  width: 28vw;
  height: 2.8rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.2rem;
  overflow: hidden;
  font-size: 0.25rem;
}
.menu4 .menubox4 .menu-image4s {
  width: 28vw;
  height: 2.8rem;
}
.menu4 .menubox4 .menu-image4s img {
  width: 100%;
  height: 100%;
}
.menu4 .menubox4 .menu-image4 {
  width: 28vw;
  height: 1.7rem;
}
.menu4 .menubox4 .menu-image4 img {
  width: 100%;
  height: 85%;
}
.menu4 .menubox4 .menu-inner .menu4-top {
  margin-left: 0.2rem;
}
.menu4 .menubox4 .menu-inner .menu4-center {
  margin-left: 0.2rem;
  font-size: 0.24rem;
}
.menu4 .menubox4 .menu-inner .menu4-bottom {
  font-size: 0.24rem;
  margin-left: 0.2rem;
  color: #666;
}
.menu4 .menubox4 .menu-inner .menu4-bottom .red {
  color: #f00;
}
.menu4 .menubox4 .menu-inner .menu4-bottom .money {
  font-size: 0.204rem;
}
.menu4 .menubox4 .menu-inner .menu4-bottom .white {
  margin-left: 0.05rem;
  color: #666;
  font-size: 0.204rem;
  text-decoration: line-through;
}
.menu4 .img1 {
  left: 2vw;
}
.menu4 .img2 {
  left: 33.5vw;
}
.menu4 .img3 {
  right: 2vw;
}
