<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <style>
            .center {
                text-align: center;
                color: orange;
            }
        </style>
        <div class="center">
            <h3>hello:<%=userName%></h3>
        </div>
        <!-- 没有 = 的话 语句会直接执行 -->
        <%for(let i = 0; i < lists.length; i++) {%>
            <li><%=lists[i]%></li>
        <%}%>
    </div>
</body>
</html>